body {
    font-family: Futura, sans-serif;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5em;
    background-color: white;
    margin-bottom: 2em;
}

.nav-button {
    margin-top: 2em;
    background-color: #EEEEEE;
    height: 1.5em;
    width: auto;
    font-size: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.title {
    grid-column: 3 / 11;
    background-color: #E9B000;
    padding: 1em;
}

.order-form {
    grid-column: 5 / 9;
    grid-row: 2;
    margin-top: 2em;
    background-color: #E24E42;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

textarea {
    font-family: Futura, sans-serif;
}

button {
    font-family: Futura, sans-serif;
    margin-top: 1em;
}

.agree {
    padding: 1em 0;
}

.request {
    padding: 2em 0 1em 0;
}
